/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Menu */

.menu-home-colour {
    color: rgb(19, 228, 81);
}

.menu-curriculum-colour {
    color: rgb(216, 24, 24);
}

.menu-contact-colour {
    color: rgb(12, 44, 224);
}

.menu-download-colour {
    color: rgb(248, 252, 9);
}